@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --off-white: #FAF9F6;
  --off-white: #f9efd2;
  --gray: gray;
  --nav-link-active: var(--color-fg);
  --nav-link-inactive: var(--gray);
}

[data-theme="light"] {
  --color-bg: rgb(244, 236, 215);
  --color-fg: rgb(91, 70, 54);
  --link-color: rgb(0, 97, 224);
  --dark-icon: none;
  --color-top-border: rgb(91, 70, 54, .4);
  --h1: gray;
  --h2: gray;
  --h3: gray;
  --h4: gray;
  --h5: gray;
  --h6: gray;
}

[data-theme="dark"] {
  --color-bg: rgb(28, 27, 34);
  --color-fg: rgb(251, 251, 254);
  --link-color: rgb(0, 221, 255);
  --light-icon: none;
  --color-top-border: rgb(251, 251, 254, .4);
  --h1: gray;
  --h2: gray;
  --h3: gray;
  --h4: gray;
  --h5: gray;
  --h6: gray;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;

  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-style: normal;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
}

.navbar {
  margin: 0 -15px;
  padding: 0 15px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  pointer-events: auto;
  overflow: hidden;
  background-color: var(--color-bg);

  position: sticky;
  top: 0;
  z-index: 999;
  transition: top 0.2s ease;
}

.nav-menu {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0;
  list-style: none;
  /* display: none; */
}

.nav-link {
  color: var(--nav-link-inactive);
  text-decoration: none;
}

.nav-link-active {
  color: var(--nav-link-active);
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--color-fg);
}

.nav-list li.list-item:nth-child(1),
.nav-list li.list-item:nth-child(2),
.nav-list li.list-item:nth-child(3) {
  display: block;
  /* display: none; */
}

a {
  color: var(--link-color);
  text-decoration: none;
}

main {
  flex: auto;
}

#toggle-theme-btn {
  content: "";
  border: none;
  cursor: pointer;
  color: var(--color-fg);
  background-color: transparent;
  font-size: 10px;
  /* align-self: center; */
  padding: 0;
  padding-left: 10px;
}

#toggle-theme-btn svg {
  fill: var(--color-fg);
  fill: gray;
  width: 22.5px;
  height: 22.5px;
}


#light-theme-icon {
  display: var(--dark-icon);
}

#dark-theme-icon {
  display: var(--light-icon);
}

/* html {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

/* html::-webkit-scrollbar {
  width: 0;
  height: 0;
} */

footer {
  flex: none;
  text-align: center;
  margin-top: 30vh;
  padding: 15px;
}

h1 {
  text-align: center;
}

/* ARTICLE STYLES */

.page-list {
  padding-left: 0px;
}

.page-list li::marker {
  content: "";
}

.page-list time {
  color: var(--gray);
  font-size: 14px;
}


#nextprev {
  display: flex;
  align-items: top;
  margin: 50px 0 0 0;
  gap: 25px;
}

.prevart {
  margin-right: auto;

  div {
    text-align: left;
  }
}

.nextart {
  margin-left: auto;

  div {
    text-align: right;
  }
}

.nextprev-head {
  font-weight: 600;
}

.centered {
  text-align: center;
}

img[alt=profile_pic] {
  width: 125px;
  border-radius: 100%;
  border: 4px solid var(--color-fg);
}

article {
  h1 {
    color: var(--h1);
  }

  h2 {
    color: var(--h2);
  }

  h3 {
    color: var(--h3);
  }

  h4 {
    color: var(--h4);
  }

  h5 {
    color: var(--h5);
  }

  h6 {
    color: var(--h6);
  }
}


.profile-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-header p {
  display: flex;
}

@media screen and (max-width: 600px) {
  .profile-header {
    flex-direction: column;
  }

  .profile-header div {
    order: 1;
  }

  .profile-header p {
    margin-bottom: 0;
  }

  img[alt=profile_pic] {
    width: 175px;
    order: 0;
  }
}

.article-tools {
  display: flex;
  justify-content: space-between;
}