@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --off-white: #FAF9F6;
  --off-white: #f9efd2;
  --gray: gray;
  --nav-link-active: var(--color-fg);
  --nav-link-inactive: var(--gray);
}

[data-theme="light"] {
  --color-bg: rgb(244, 236, 216);
  --color-fg: rgb(91, 70, 54);
  --link-color: rgb(0, 97, 224);
  --dark-icon: none;
  --h1: ;
  --h2: ;
  --h3: ;
  --h4: ;
  --h5: ;
  --h6: ;
}

[data-theme="dark"] {
  --color-bg: rgb(28, 27, 34);
  --color-fg: rgb(251, 251, 254);
  --link-color: rgb(0, 221, 255);
  --light-icon: none;
  --h1: ;
  --h2: ;
  --h3: ;
  --h4: ;
  --h5: ;
  --h6: ;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.4;

  font-family: "Roboto", sans-serif;
  font-weight: 350;
  font-style: normal;

  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-between;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  pointer-events: auto;
  overflow: hidden;
  background-color: var(--color-bg);
}

.nav-menu {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0;
  list-style: none;
  /* display: none; */
}

.nav-link {
  color: var(--nav-link-inactive);
  text-decoration: none;
}

.nav-link-active {
  color: var(--nav-link-active);
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-list li.list-item:nth-child(1),
.nav-list li.list-item:nth-child(2),
.nav-list li.list-item:nth-child(3) {
  display: block;
  /* display: none; */
}

a {
  color: var(--link-color);
  text-decoration: none;
}

main {
  flex: auto;
}

#toggle-theme-btn {
  content: "";
  border: none;
  cursor: pointer;
  color: var(--color-fg);
  background-color: transparent;
  font-size: 10px;
  /* align-self: center; */
  padding: 0;
  padding-left: 10px
}

#toggle-theme-btn svg {
  fill: var(--color-fg);
  fill: gray;
  width: 22.5px;
  height: 22.5px;
}


#light-theme-icon {
  display: var(--dark-icon);
}

#dark-theme-icon {
  display: var(--light-icon);
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

footer {
  margin: 0 -15px;
  padding: 0 15px;
  flex: none;
  margin-top: 100px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

/* ARTICLE STYLES */

.page-list {
  padding-left: 0px;
}

.page-list li::marker {
  content: "";
}

.page-list time {
  color: var(--gray);
  font-size: 14px;
}

h1 { text-align: center; }

#nextprev {
  display: flex;
  align-items: top;
  margin: 50px 0 150px 0;
  gap: 25px;
}

.prevart {
  margin-right: auto;

  div {
    text-align: left;
  }
}

.nextart {
  margin-left: auto;

  div {
    text-align: right;
  }
}

.nextprev-head {
  font-weight: 600;
}

.centered {
  text-align: center;
}

img[alt=profile_pic] { 
  width: 200px;
  border-radius: 100%;
  border-color: white;
  border-style: solid;
}

article h1 { color: gray; }
article h2 { color: gray; }
article h3 { color: gray; }
article h4 { color: gray; }
article h5 { color: gray; }
article h6 { color: gray; }

.profile-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media screen 
and (min-width: 300px) 
and (max-width: 600px) {
  .profile-header{
    flex-direction: column;
  }
  
}