[data-theme="light"] {
  --h1: ;
  --h2: ;
  --h3: ;
  --h4: ;
  --h5: ;
  --h6: ;
}

[data-theme="dark"] {
  --h1: ;
  --h2: ;
  --h3: ;
  --h4: ;
  --h5: ;
  --h6: ;
}

.proj-list {
  padding-left: 0px;
}

.proj-list li::marker {
  content: "";
}

.proj-list time {
  color: var(--gray);
  font-size: 14px;
}

a {
  text-decoration: none;
}

h1,h2 {
  text-align: center;
}

h3,h4,h5 {
  text-align: left;
}

.proj-list li a:visited {
  color: var(--color-fg);
}

.proj-list p {
  padding-left: 40px;
  font-size: 14px;
}
