.article-list {
  padding-left: 0px;
}

.article-list li::marker{
  content: "";
}

.article-list time {
  color: var(--gray);
  font-size: 14px;
}

/* .article-list a {
  
} */

h1,h2 {
  text-align: center;
}

#nextprev {
  display: flex;
  align-items: top;
  justify-content: space-between;
  margin: 50px 0 15px 0;
  gap: 25px;
}

#prevart {
  text-align: left;
  /* max-width: 200px; */
}

#nextart {
  text-align: right;
  /* max-width: 200px; */
}

.nextprev-head {
  font-weight: 600;
}

#nextprev a {
  text-decoration: none;
}

article {
  text-align: justify;
}