.article-list {
  padding-left: 0px;
}

.article-list li::marker {
  content: "";
}

.article-list time {
  color: var(--gray);
  font-size: 14px;
}

/* .article-list a {
  
} */

h1,
h2 {
  text-align: center;
}

#nextprev {
  display: flex;
  align-items: top;
  margin: 50px 0 15px 0;
  gap: 25px;
}

.prevart {
  margin-right: auto;
  div {
    text-align: left;
  }
}

.nextart{
  margin-left: auto;
  div {
    text-align: right;
  }
}

.nextprev-head {
  font-weight: 600;
}

#nextprev a {
  text-decoration: none;
}

/* article {
  text-align: justify;
} */